/*Applies same font to whole page*/
*{
    font-family: 'Fredoka', sans-serif;
}

/* footer styling */
#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: grey;
	color: white;
	text-align: center;
}

/* footer link styling */
#footer a{
	text-decoration: none;
	color: lightgreen;
}

/* Centers text */
main{
	text-align: center;
}

/* Draws parent parent container ultimately is the slot machine */
.parentRow {
	display: flex;
    flex-direction:row;
    width: 60%;
	margin: auto;
    padding: 10px;
}

/*Styling for the rows. */
.column {
    flex: 1 1 0px;
    border: 1px solid black;
	height: 380px;
	width: 380px;
}

#buttonContainer {
	padding-top: 40px;
	padding-bottom: 100px;
}

#winOverlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}

#overlayText {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
}
